
## <summary>policy for marlin</summary>


########################################
## <summary>
##	Transition to marlin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`marlin_domtrans',`
	gen_require(`
		type marlin_t, marlin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, marlin_exec_t, marlin_t)
')


########################################
## <summary>
##	Execute marlin server in the marlin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`marlin_initrc_domtrans',`
	gen_require(`
		type marlin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, marlin_initrc_exec_t)
')


########################################
## <summary>
##	Search marlin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`marlin_search_lib',`
	gen_require(`
		type marlin_var_lib_t;
	')

	allow $1 marlin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read marlin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`marlin_read_lib_files',`
	gen_require(`
		type marlin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, marlin_var_lib_t, marlin_var_lib_t)
')

########################################
## <summary>
##	Manage marlin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`marlin_manage_lib_files',`
	gen_require(`
		type marlin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, marlin_var_lib_t, marlin_var_lib_t)
')

########################################
## <summary>
##	Manage marlin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`marlin_manage_lib_dirs',`
	gen_require(`
		type marlin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, marlin_var_lib_t, marlin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a marlin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`marlin_admin',`
	gen_require(`
		type marlin_t;
		type marlin_initrc_exec_t;
		type marlin_var_lib_t;
	')

	allow $1 marlin_t:process { ptrace signal_perms };
	ps_process_pattern($1, marlin_t)

	marlin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 marlin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, marlin_var_lib_t)

')

